@charset "UTF-8";

/* 回答はここに書いてね */
.tablebox {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.tablebox th {
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  color: white;
  border: solid 1px #dedede;
  padding: 10px;
}
.tablebox td {
  font-size: 16px;
  line-height: 22px;
  border: solid 1px #dedede;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}
.tablebox tr:nth-child(even) {
  background-color: #ecf1f2;
}
.tablebox tr:last-child {
  border-top: dashed 2px #000;
}
.tablebox tr:first-child{
  border-top: dashed 0;
}
/* 回答はここに書いてね */
